*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
}

::selection{
    background-color: #00B0EC;
    color: rgb(255, 245, 245);
}

/*Resusable code*/

.a-tags {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid;
}

button {
    width: 100%;
    padding: 1.2rem;
    margin-top: 2rem;
    font-size: 1.7rem;
    color: #666;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(209, 209, 209, 0.534);
    outline: none;
    transition: all .3s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(209, 209, 209);
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #D1D1D1;
    margin: 1em 0;
    padding: 0;
}

.h1-ins {
    background-color: rgba(0, 177, 236, 0.15);
    margin-right: -.4rem;
    padding: .2rem;
}

.date {
    font-size: 1.1rem;
    background-color: #e2e4e6;
    padding: .3rem;
    width: 4vw;
    text-align: center;
    text-transform: uppercase;
    margin-right: -2.99rem;
    margin-left: 2.2vw;
}

.date-modifier {
    margin-top: .7rem;
    font-weight: bolder;
}

.rounded-icon {
    border-radius: 10rem;
    background-color: rgb(8, 193, 255);
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-body-icon {
    padding: 1rem;
}

.icon-modifier {
    margin: 3rem -3.2vw 0 3.1vw;
}

.second-set {
    margin-top: 13rem;
}

.third-set {
    margin-top: 28vh;
}

.fourth-set {
    margin-top: 7vh;
}

.fifth-set {
    margin-top: 13vh;
}

/*Header*/

.header {
    display: flex;
    height: 8vh;
}

.header-item1 {
    width: 10.8vmin;
    background-color: #00B0EC;
}


 .header-item2 {
     background-color: #D8D8D8;

     width: 93vw;
     width: -webkit-fill-available;
 }



.search-results{
    margin-left: 4rem;
    margin-top: 1.4rem;
    display: flex;
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 300;
}

.preview::before{
    content: open-quote
}
.preview::after{
    content: close-quote
}


.container {
    display: flex;
}


/*====SIDE BAR===== */

.sidebar {
    width: fit-content;
    background-color: #2F2F2D;
    color: aliceblue;
    font-size: 1.6rem;

}

.sidebar-items {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding: 1rem;
    will-change: transform;
}
.item-group {
    padding: .5rem;
    transition: all .2s ease-in;
}

.item-group:hover {
    background-color: #F2F2F2;
    transform: scale(1.5);
}

.item-group:hover .item {
    background-color: #00b0ec;
    border:none;
}
.item {
       margin-top: .2rem;
       background-color: #757575;
       width: 5rem;
       height: 5rem;
       border-bottom: .3rem solid;
       margin-left: auto;
       margin-right: auto;
       position: relative;
       transition: all .3s;
       cursor: pointer;
       box-shadow:  0 .2rem  .6rem rgb(0, 0, 0);
}




.icon {
    width: 3rem;
    padding: .2rem;
}

.full-line{
           width: 124%;
           margin-left: -1rem;
           border: 1px solid #3b3636f7;
}

.plus{
        position: absolute;
        top: 1.5rem;
        right: -1.6rem;
        background-color: #8c8c8c;
        border-radius: 10rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        border-left: none;
        color: white;
}


/*====Main===== */

.main {
    width: 93vw;
    width: -webkit-fill-available;
    background-color: #F2F2F2;

    /* overflow-y: auto; */
}

.main-starts {
    padding: 3rem;
}

.search {
    position: relative;
    will-change: transform;
}

.search-input {
    height: 7vh;
    width:-webkit-fill-available;
    padding: 1rem;
    outline: none;
    font-size: 2.7rem;
    padding-left: 6rem;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(158, 152, 152);
    transition: all .2s;
    will-change: transform;
}

.search-input::-webkit-input-placeholder {
    color: #D1D1D1;
}

.search-input:focus {
    border: 1px solid transparent;

}

/*Radio buttons group*/

.selectors {
    display: flex;
    margin-left: -2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;

}

.selectors-group {
    margin-left: 1rem;
    font-size: 1.6rem;

}

.sel-item {
    cursor: pointer;
    margin-left: 1rem;
    will-change: transform;
}

/* -----BOdy-starts ----*/

.bodys {
    background-color: white;
    display: flex;
    width: 100%;
    will-change: transform;
}

.left-body {
    display: flex;
    flex-direction: column;
    z-index: 10000;
}

.main-body::before {
    position: absolute;
    content: '';
    width: .3rem;
    height: 100%;
    background-color: #82878e69;
}

.main-body {
    margin-left: .5rem;
    width: 100%;
}

.body-items {
    margin: 1rem;
    padding: 2rem;
    margin-left: 3rem;
}

.body-group {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.body-icon,
.xlsicon {
    margin-right: 2rem;
}

.body-icon::before {
    content: 'DOCX';
    position: absolute;
    top: 3rem;
    left: 1rem;
    background-color: #00b0ec;
    color: white;
    padding: .1rem;
}

.xlsicon::before {
    content: 'XLSX';
    position: absolute;
    top: 3rem;
    left: 1rem;
    background-color: green;
    color: white;
    padding: .1rem;
}

.body-icon img,
.xlsicon img {
    width: 40px;
}



.heading-h1 {
    margin-top: -0.3rem;
}

.tag {
    border: .1rem solid #00000026;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.4rem;
    width: 2.9vw;
    margin-top: .5rem;
}

.res {
    font-size: 1.6rem;
    color: #82878E;
    margin-left: 5.99rem;
    margin-top: -1.3rem;
}

.res-down {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #00B0EC;
    font-size: 1.4rem;
}

.res-item2 {
    margin-top: .5rem;
}

.res-item3 {
    margin-top: 1rem;
    background-color: #0000008a;
    width: 7.6rem;
    color: #fff;
}

.black-tag {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}



/*images  */

.imgss {
    display: flex
}

.img-1 img {
    height: 26vh;
    margin-right: 3vw;
    width: 20vw;
    object-fit: cover;
}

.body-group--modifier {
    margin-top: 2rem;
}

.item-modifier {
    margin-top: 1rem;
    margin-right: 9.7vw
}

/* Item 4 starts */

.person-img {
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
}

.content {
    margin-left: 6rem;
    width: 39vw;
    word-spacing: .2rem;
}

/*---Item 4 ends*/



/*Radio custom styles*/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 10%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #00B0EC;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 10%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}